<html lang="en" class="">
@{

    QLKhoaHocEntities db = new QLKhoaHocEntities();
    WebQLKhoaHoc.Models.UserLoginViewModel nd = (WebQLKhoaHoc.Models.UserLoginViewModel)Session["user"] ?? new WebQLKhoaHoc.Models.UserLoginViewModel();
}
<!-- Head BEGIN -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Image/hcmup_edu.ico" />

    <title>@ViewBag.Title</title>
    <!-- Theme styles START -->
    @Scripts.RenderFormat("<script src=\"/Scripts/use.fontawesome.js\" data -auto-replace-svg=\"nest\"></script>", "~/bundles/use.fontawesome")
    @Styles.Render("~/Content/admincss")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Theme styles END -->
</head>
<!-- Head END -->
<!-- Body BEGIN -->
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- left container -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <!-- load page again -->
                        <a href="#" class="site_title"><span>Trang Quản Lý</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section active">
                            <ul class="nav side-menu" style="">

                                <li>
                                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Trang chính </a>

                                </li>
                                <!-- list controllers -->
                                <li>
                                    <a href="javascript:;"><i class="fa fa-users"></i> Nhà khoa học <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <li><a href="@Url.Action("Index","AdminNhaKhoaHoc")"> Nhà Khoa Học </a></li>
                                        <li><a href="@Url.Action("Index","AdminChuyenMon")"> Chuyên môn</a></li>
                                        <li><a href="@Url.Action("Index","AdminHocVi")"> Học vị </a></li>
                                        <li><a href="@Url.Action("Index","AdminHocHam")"> Học hàm </a></li>
                                        <li><a href="@Url.Action("Index","AdminChuyenNganh")"> Chuyên ngành</a></li>
                                        <li><a href="@Url.Action("Index","AdminNganhDaoTao")"> Ngành đào tạo </a></li>
                                        <li><a href="@Url.Action("Index","AdminNgachVienChuc")"> Ngạch viên chức </a></li>
                                        <li><a href="@Url.Action("Index","AdminNganHang")"> Ngân hàng </a></li>
                                        <li><a href="@Url.Action("Index","AdminTrinhDoNgoaiNgu")"> Ngoại Ngữ </a></li>
                                    </ul>
                                </li>
                                <li>

                                    <a href="javascript:;"><i class="fas fa-file-signature"></i> Đề Tài <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <!-- list children controllers -->
                                        <li><a href="@Url.Action("Index","AdminDeTai")">Danh sách đề tài</a></li>
                                        <li><a href="@Url.Action("Index","AdminKinhPhiDeTai")">Kinh phí đề tài</a></li>
                                        <li><a href="@Url.Action("DanhSachNguoiThamGiaDeTai","AdminDeTai")">Danh sách người tham gia đề tài</a></li>
                                        <li><a href="@Url.Action("Index","AdminDSBaiBaoDeTai")">Danh sách bài báo về đề tài</a></li>
                                        <li><a href="@Url.Action("Index","AdminCapDeTai")">Cấp đề tài</a></li>
                                        <li><a href="@Url.Action("Index","AdminLoaiHinhDeTai")">Loại hình đề tài</a></li>
                                        <li><a href="@Url.Action("Index","AdminDonViChuTri")">Đơn vị chủ trì</a></li>
                                        <li><a href="@Url.Action("Index","AdminXepLoai")">Xếp loại</a></li>
                                        <li><a href="@Url.Action("Index","AdminTinhTrangDeTai")">Tình trạng</a></li>
                                        <li><a href="@Url.Action("Index","AdminPhanLoaiSP")">Phân loại</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fa fa-book"></i> Sách và Giáo Trình <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <!-- list children controllers -->
                                        <li><a href="@Url.Action("Index","AdminSachGiaoTrinhs")">Sách giáo trình</a></li>
                                        <li><a href="@Url.Action("DanhSachTacGia","AdminSachGiaoTrinhs")">Danh sách tác giả</a></li>
                                        <li><a href="@Url.Action("Index","AdminPhanLoaiSaches")">Phân loại sách giáo trình</a></li>
                                        <li><a href="@Url.Action("Index","AdminNhaXuatBan")">Nhà xuất bản</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fa fa-newspaper"></i> Bài Báo <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <!-- list children controllers -->
                                        <li><a href="@Url.Action("Index","AdminBaiBao")">Danh sách bài báo</a></li>
                                        <li><a href="@Url.Action("DanhSachNguoiThamGiaBaiBao","AdminBaiBao")">Danh sách người tham gia bài báo</a></li>
                                        <li><a href="@Url.Action("Index","AdminCapTapChi")">Cấp tạp chí</a></li>
                                        <li><a href="@Url.Action("Index","AdminPhanLoaiTapChi")">Phân loại tạp chí</a></li>
                                        <li><a href="@Url.Action("LinhVucBaiBao","AdminBaiBao")">Lĩnh vực bài báo</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fa fa-newspaper"></i> Phát minh giải pháp <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <!-- list children controllers -->
                                        <li><a href="@Url.Action("Index","AdminPhatMinhGiaiPhap")">Danh sách phát minh giải pháp</a></li>
                                        <li><a href="@Url.Action("DanhSachNguoiThamGiaPhatMinh","AdminPhatMinhGiaiPhap")">Danh sách người tham gia phát minh</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fas fa-marker"></i> Đơn vị quản lý <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <!-- list children controllers -->
                                        <li><a href="@Url.Action("Index","AdminDonViQL")">Đơn vị quản lý</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","AdminNguoiDung")"> <i class="fa fa-user"></i>  Quản Lý Người Dùng</a>
                                </li>
                                <li>
                                    <a href="javascript:;"><i class="fa fa-tasks"></i> Lĩnh vực <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <!-- list children controllers -->
                                        <li><a href="@Url.Action("Index","AdminLinhVuc")">Lĩnh vực</a></li>
                                        <li><a href="@Url.Action("Index","AdminNhomLinhVuc")">Nhóm lĩnh vực</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>

            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @{
                                        if (String.IsNullOrWhiteSpace(nd.AnhCaNhan))
                                        {
                                            <img src=@Url.Content("~/Image/avatar.bmp") style="height: 29px; width: 29px; border-radius: 50%;" />
                                        }
                                        else
                                        {
                                            <img src="@nd.AnhCaNhan" style="height: 29px; width: 29px; border-radius: 50%;" />
                                        }
                                    }@nd.Ten

                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                   
                                    <li>
                                        <a href="@Url.Action("AdminLogOff","Account")">
                                            <i class="fa fa-sign-out pull-right"></i>
                                            Đăng Xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="right_col" role="main">
                @RenderBody()
                <div class="">
                    <div class="clearfix"></div>
                </div>
            </div>
            <footer>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>

    <div id="mydata" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- end wrapper -->
    <!-- Footer Scripts -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")
    <script>
        function modal_load(url) {
            $('#mydata .modal-content').load(url);
        };
    </script>


</body>
<!-- END BODY -->
</html>