@model WebQLKhoaHoc.DSBaiBaoDeTai

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center">Bài báo về đề tài</h1>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>@Html.DisplayNameFor(model => model.BaiBao.TenBaiBao)</h2>
            </div>
            <div class="col-md-7">
                @Html.DropDownList("MaBaiBao", ViewBag.MaBaiBao as SelectList, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2> @Html.DisplayNameFor(model => model.DeTai.TenDeTai)</h2>
            </div>
            <div class="col-md-7">
                @Html.DropDownList("MaDeTai", ViewBag.MaDeTai as SelectList, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>@Html.DisplayNameFor(model => model.GhiChu)</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default pull-right" })
                <input type="submit" value="Create" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}
