@model WebQLKhoaHoc.ChuyenMon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center">Chuyên môn</h1>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaChuyenMon)
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>Tên chuyên môn</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.TenChuyenMon, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenChuyenMon)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default pull-right" })
                <input type="submit" value="Lưu" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}
