@model WebQLKhoaHoc.PhanLoaiSP

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center">Phân loại sản phẩm đề tài</h1>
        <hr />
        @Html.ValidationSummary(true)
       
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>Tên phân loại</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.TenPhanLoai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenPhanLoai)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default pull-right" })
                <input type="submit" value="Tạo" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}

