@model WebQLKhoaHoc.NhaKhoaHoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}


<h1 class="text-center">Bạn có chăc lá muốn xóa thông tin bên dưới?</h1>
<div class="form-horizontal">
    <hr />
    <h1 class="text-center">Thông tin nhà khoa học</h1>
    <br />
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Mã nhà khoa học hộ sở</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.MaNKHHoSo, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Họ</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.HoNKH, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Tên</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.TenNKH, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Giới tính</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.GioiTinhNKH, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Ngày sinh</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.NgaySinh, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Địa chỉ</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.DiaChiLienHe, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Số điện thoại</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.DienThoai, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Email liên hệ</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.EmailLienHe, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Chuyên ngành</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.ChuyenNganh.TenChuyenNganh, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Đơn vị quản lý</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.DonViQL.TenDonVI, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Đơn vị quản lý</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.DonViQL.TenDonVI, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Học hàm</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.HocHam.TenHocHam, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Học vị</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.HocVi.TenHocVi, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Ngạnh viên chức</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.NgachVienChuc.TenNgach, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default pull-right" })
                <input type="submit" value="Delete" class="btn btn-default pull-right" />
            </div>
        </div>
    }
</div>
