@model WebQLKhoaHoc.NhaXuatBan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

<h1 class="text-center">Bạn có chắn chắn muốn xóa các thông tin bên dưới?</h1>
<div class="form-horizontal">
    <hr />
    <h1 class="text-center">Nhà xuất bản</h1>
    <br />
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Tên nhà xuất bản</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.TenNXB, new { @class = "form-control", @disable = "disable"})
       
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Địa chỉ</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.DiaChiNXB, new { @class = "form-control", @disable = "disable"})
           
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Điện thoại</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.DienThoaiNXB, new { @class = "form-control", @disable = "disable"})
        
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-1">
            <h2>Web liên kết</h2>
        </div>
        <div class="col-md-7">
            @Html.TextBoxFor(model => model.DiaChiWeb, new { @class = "form-control", @disable = "disable"})
          
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default pull-right" })
                <input type="submit" value="Delete" class="btn btn-default pull-right" />
            </div>
        </div>
    }
</div>
