@model WebQLKhoaHoc.CapTapChi

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center">Cấp tạp chí</h1>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>@Html.DisplayNameFor(model => model.TenCapTapChi)</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.TenCapTapChi, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenCapTapChi)
            </div>
        </div>
         <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>@Html.DisplayNameFor(model => model.DanhMucNhom)</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.DanhMucNhom, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DanhMucNhom)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default pull-right" })
                <input type="submit" value="Create" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}


