@model WebQLKhoaHoc.DonViChuTri

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center">Đơn vị chủ trì</h1>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>Tên đơn vị chủ trì</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.TenDVChuTri, new { @class = "form-control" ,@required = "required" })
                @Html.ValidationMessageFor(model => model.TenDVChuTri)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>Địa chỉ</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control" ,@required = "required" })
                @Html.ValidationMessageFor(model => model.DiaChi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default pull-right" })
                <input type="submit" value="Lưu" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}
