@model WebQLKhoaHoc.Models.NhaKhoaHocViewModel

@{
    Layout = null;
}
@{
    int count = 1;
    var quatrinhcongtac = Model.QuaTrinhCongTacs.LastOrDefault() ?? new QuaTrinhCongTac
    {
        TenCoQuan = String.Empty
    };
    var chungChiTiengAnh = Model.NgoaiNguNKHs.Where(p => p.MaTrinhDoNN == 1).FirstOrDefault() ?? new NgoaiNguNKH
    {
        ChungChi = String.Empty,
        VanBang = String.Empty
    };
    var chungChiKhac = Model.NgoaiNguNKHs.Where(p => p.MaTrinhDoNN != 1);

    var tenChungChiKhac = String.Join(", ", chungChiKhac.Select(p => p.TrinhDoNgoaiNgu.TenTrinhDo));
    if (chungChiKhac.Count() < 1)
    {
        tenChungChiKhac = "ghi rõ tên ngôn ngữ khác";
    }
    var vanBangChungChiKhac = String.Join(", ", chungChiKhac.Select(p => p.VanBang));
    var chungChiChungChiKhac = String.Join(", ", chungChiKhac.Select(p => p.ChungChi));
    var baibaoWoS = Model.DSNguoiThamGiaBaiBaos.Where(p => p.BaiBao.CapTapChi.DanhMucNhom == "WoS");
    var baibaoScopus = Model.DSNguoiThamGiaBaiBaos.Where(p => p.BaiBao.CapTapChi.DanhMucNhom == "SCOPUS");
    var baibaoQT = Model.DSNguoiThamGiaBaiBaos.Where(p => p.BaiBao.CapTapChi.DanhMucNhom == "QT");
    var baibaoVN = Model.DSNguoiThamGiaBaiBaos.Where(p => p.BaiBao.CapTapChi.DanhMucNhom == "VN");
    var baibaoKhac = Model.DSNguoiThamGiaBaiBaos.Where(p => p.BaiBao.CapTapChi.DanhMucNhom == "Khac");
}
<!DOCTYPE html>




<body style="background-color: #ffffff;
            padding: 70.9pt 56.7pt 70.9pt 56.7pt">
    <div id="source-html">
        <style type="text/css">
            ol.lst-kix_list_1-3 {
                list-style-type: none
            }

            table {
                width: 100%;
            }

            ol.lst-kix_list_1-4 {
                list-style-type: none
            }

            ol.lst-kix_list_1-5 {
                list-style-type: none
            }

            ol.lst-kix_list_1-6 {
                list-style-type: none
            }

            ol.lst-kix_list_1-0 {
                list-style-type: none
            }

            .lst-kix_list_1-4 > li {
                counter-increment: lst-ctn-kix_list_1-4
            }

            ol.lst-kix_list_1-1 {
                list-style-type: none
            }

            ol.lst-kix_list_1-2 {
                list-style-type: none
            }

            ol.lst-kix_list_1-6.start {
                counter-reset: lst-ctn-kix_list_1-6 0
            }

            .lst-kix_list_1-1 > li {
                counter-increment: lst-ctn-kix_list_1-1
            }

            ol.lst-kix_list_1-3.start {
                counter-reset: lst-ctn-kix_list_1-3 0
            }

            ol.lst-kix_list_1-2.start {
                counter-reset: lst-ctn-kix_list_1-2 0
            }

            ol.lst-kix_list_1-8.start {
                counter-reset: lst-ctn-kix_list_1-8 0
            }

            .lst-kix_list_1-0 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) ". "
            }

            ol.lst-kix_list_1-5.start {
                counter-reset: lst-ctn-kix_list_1-5 0
            }

            ol.lst-kix_list_1-7 {
                list-style-type: none
            }

            .lst-kix_list_1-1 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) "."counter(lst-ctn-kix_list_1-1, decimal) ". "
            }

            .lst-kix_list_1-2 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) "."counter(lst-ctn-kix_list_1-1, decimal) "."counter(lst-ctn-kix_list_1-2, decimal) ". "
            }

            .lst-kix_list_1-7 > li {
                counter-increment: lst-ctn-kix_list_1-7
            }

            ol.lst-kix_list_1-8 {
                list-style-type: none
            }

            .lst-kix_list_1-3 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) "."counter(lst-ctn-kix_list_1-1, decimal) "."counter(lst-ctn-kix_list_1-2, decimal) "."counter(lst-ctn-kix_list_1-3, decimal) ". "
            }

            .lst-kix_list_1-4 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) "."counter(lst-ctn-kix_list_1-1, decimal) "."counter(lst-ctn-kix_list_1-2, decimal) "."counter(lst-ctn-kix_list_1-3, decimal) "."counter(lst-ctn-kix_list_1-4, decimal) ". "
            }

            ol.lst-kix_list_1-0.start {
                counter-reset: lst-ctn-kix_list_1-0 0
            }

            .lst-kix_list_1-0 > li {
                counter-increment: lst-ctn-kix_list_1-0
            }

            .lst-kix_list_1-6 > li {
                counter-increment: lst-ctn-kix_list_1-6
            }

            .lst-kix_list_1-7 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) "."counter(lst-ctn-kix_list_1-1, decimal) "."counter(lst-ctn-kix_list_1-2, decimal) "."counter(lst-ctn-kix_list_1-3, decimal) "."counter(lst-ctn-kix_list_1-4, decimal) "."counter(lst-ctn-kix_list_1-5, decimal) "."counter(lst-ctn-kix_list_1-6, decimal) "."counter(lst-ctn-kix_list_1-7, decimal) ". "
            }

            .lst-kix_list_1-3 > li {
                counter-increment: lst-ctn-kix_list_1-3
            }

            .lst-kix_list_1-5 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) "."counter(lst-ctn-kix_list_1-1, decimal) "."counter(lst-ctn-kix_list_1-2, decimal) "."counter(lst-ctn-kix_list_1-3, decimal) "."counter(lst-ctn-kix_list_1-4, decimal) "."counter(lst-ctn-kix_list_1-5, decimal) ". "
            }

            .lst-kix_list_1-6 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) "."counter(lst-ctn-kix_list_1-1, decimal) "."counter(lst-ctn-kix_list_1-2, decimal) "."counter(lst-ctn-kix_list_1-3, decimal) "."counter(lst-ctn-kix_list_1-4, decimal) "."counter(lst-ctn-kix_list_1-5, decimal) "."counter(lst-ctn-kix_list_1-6, decimal) ". "
            }

            ol.lst-kix_list_1-7.start {
                counter-reset: lst-ctn-kix_list_1-7 0
            }

            .lst-kix_list_1-2 > li {
                counter-increment: lst-ctn-kix_list_1-2
            }

            .lst-kix_list_1-5 > li {
                counter-increment: lst-ctn-kix_list_1-5
            }

            .lst-kix_list_1-8 > li {
                counter-increment: lst-ctn-kix_list_1-8
            }

            ol.lst-kix_list_1-4.start {
                counter-reset: lst-ctn-kix_list_1-4 0
            }

            .lst-kix_list_1-8 > li:before {
                content: ""counter(lst-ctn-kix_list_1-0, decimal) "."counter(lst-ctn-kix_list_1-1, decimal) "."counter(lst-ctn-kix_list_1-2, decimal) "."counter(lst-ctn-kix_list_1-3, decimal) "."counter(lst-ctn-kix_list_1-4, decimal) "."counter(lst-ctn-kix_list_1-5, decimal) "."counter(lst-ctn-kix_list_1-6, decimal) "."counter(lst-ctn-kix_list_1-7, decimal) "."counter(lst-ctn-kix_list_1-8, decimal) ". "
            }

            ol.lst-kix_list_1-1.start {
                counter-reset: lst-ctn-kix_list_1-1 0
            }

            ol {
                margin: 0;
                padding: 0
            }

            table td,
            table th {
                padding: 0;
                word-wrap: break-word;
                white-space: normal;
            }

            .break-word {
                word-break: break-all;
            }

            .c51 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 116.8pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c6 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 35.2pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c11 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 92.2pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c40 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 134.7pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c42 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 145.2pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c25 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 164pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c22 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 99.2pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c21 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 155.9pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c23 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 375.6pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c3 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 124.5pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c35 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 127.3pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c7 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 28.1pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c31 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 126.6pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c12 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 62.3pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c32 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 120.5pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c41 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 470pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c50 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 141.8pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c37 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 170.1pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c34 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 106.3pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c18 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 79.2pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c10 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 96.4pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c30 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 88.8pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c33 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 78pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c46 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 74.5pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c43 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 98pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c4 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 45.4pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c16 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 80.2pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c26 {
                border-right-style: solid;
                padding: 0pt 5.4pt 0pt 5.4pt;
                border-bottom-color: #000000;
                border-top-width: 1pt;
                border-right-width: 1pt;
                border-left-color: #000000;
                vertical-align: top;
                border-right-color: #000000;
                border-left-width: 1pt;
                border-top-style: solid;
                border-left-style: solid;
                border-bottom-width: 1pt;
                width: 70.9pt;
                border-top-color: #000000;
                border-bottom-style: solid
            }

            .c8 {
                padding-top: 0pt;
                text-indent: -36pt;
                padding-bottom: 8pt;
                line-height: 1.0791666666666666;
                orphans: 2;
                widows: 2;
                text-align: justify;
                height: 12pt
            }

            .c1 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.0;
                orphans: 2;
                widows: 2;
                text-align: justify;
                height: 12pt
            }

            .c28 {
                padding-top: 0pt;
                text-indent: -36pt;
                padding-bottom: 8pt;
                line-height: 1.0791666666666666;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .c2 {
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: "Times New Roman";
                font-style: normal
            }

            .c27 {
                color: #000000;
                font-weight: 700;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 13pt;
                font-family: "Times New Roman";
                font-style: normal
            }

            .c0 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.0791666666666666;
                orphans: 2;
                widows: 2;
                text-align: justify;
                height: 12pt
            }

            .c24 {
                color: #000000;
                font-weight: 700;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: "Times New Roman";
                font-style: normal
            }

            .c5 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.0;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .c44 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.0791666666666666;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .c13 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.0;
                orphans: 2;
                widows: 2;
                text-align: justify
            }

            .c17 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.0791666666666666;
                orphans: 2;
                widows: 2;
                text-align: justify
            }

            .c19 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.0791666666666666;
                orphans: 2;
                widows: 2;
                text-align: right
            }

            .c14 {
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1.15;
                text-align: left;
                height: 12pt
            }

            .c39 {
                margin-left: -5.4pt;
                border-spacing: 0;
                border-collapse: collapse;
                margin-right: auto
            }

            .c29 {
                margin-left: 0pt;
                list-style-position: inside;
                text-indent: 18pt
            }

            .c45 {
                background-color: #ffffff;
                max-width: 498.6pt;
                padding: 70.9pt 56.7pt 70.9pt 56.7pt
            }

            .c48 {
                margin-left: 18pt;
                text-indent: -36pt
            }

            .c9 {
                padding: 0;
                margin: 0
            }

            .c38 {
                margin-left: 36pt;
                padding-left: 18pt
            }

            .c36 {
                margin-left: 36pt;
                padding-left: 0pt
            }

            .c52 {
                text-indent: -36pt
            }

            .c47 {
                font-style: italic
            }

            .c49 {
                font-weight: 700
            }

            .c20 {
                height: 12pt
            }

            .c15 {
                height: 0pt
            }

            .title {
                padding-top: 24pt;
                color: #000000;
                font-weight: 700;
                font-size: 36pt;
                padding-bottom: 6pt;
                font-family: "Times New Roman";
                line-height: 1.0791666666666666;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .subtitle {
                padding-top: 18pt;
                color: #666666;
                font-size: 24pt;
                padding-bottom: 4pt;
                font-family: "Georgia";
                line-height: 1.0791666666666666;
                page-break-after: avoid;
                font-style: italic;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            li {
                color: #000000;
                font-size: 12pt;
                font-family: "Times New Roman"
            }

            p {
                margin: 0;
                color: #000000;
                font-size: 12pt;
                font-family: "Times New Roman"
            }

            h1 {
                padding-top: 24pt;
                color: #000000;
                font-weight: 700;
                font-size: 24pt;
                padding-bottom: 6pt;
                font-family: "Times New Roman";
                line-height: 1.0791666666666666;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h2 {
                padding-top: 18pt;
                color: #000000;
                font-weight: 700;
                font-size: 18pt;
                padding-bottom: 4pt;
                font-family: "Times New Roman";
                line-height: 1.0791666666666666;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h3 {
                padding-top: 14pt;
                color: #000000;
                font-weight: 700;
                font-size: 14pt;
                padding-bottom: 4pt;
                font-family: "Times New Roman";
                line-height: 1.0791666666666666;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h4 {
                padding-top: 12pt;
                color: #000000;
                font-weight: 700;
                font-size: 12pt;
                padding-bottom: 2pt;
                font-family: "Times New Roman";
                line-height: 1.0791666666666666;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h5 {
                padding-top: 11pt;
                color: #000000;
                font-weight: 700;
                font-size: 11pt;
                padding-bottom: 2pt;
                font-family: "Times New Roman";
                line-height: 1.0791666666666666;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            h6 {
                padding-top: 10pt;
                color: #000000;
                font-weight: 700;
                font-size: 10pt;
                padding-bottom: 2pt;
                font-family: "Times New Roman";
                line-height: 1.0791666666666666;
                page-break-after: avoid;
                orphans: 2;
                widows: 2;
                text-align: left
            }

            .btn-danger {
                color: #ffffff;
                background-color: #d9534f;
                border-color: #d43f3a;
                margin-top: 100px;
            }

            .btn {
                display: inline-block;
                padding: 6px 12px;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.428571429;
                text-align: left;
                white-space: nowrap;
                vertical-align: middle;
                cursor: pointer;
                border: 1px solid transparent;
                border-radius: 4px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
        </style>




        <p class="c19">
            <span class="c2">
                M&#7851;u s&#7889;:
                &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;

            </span>
        </p>
        <p class="c19">
            <span class="c2">
                M&atilde; s&#7889; c&aacute;n b&#7897; vi&ecirc;n
                ch&#7913;c: @Model.MaNKHHoSo
            </span>
        </p>
        <p class="c19 c20"><span class="c2"></span></p>
        <table border="0" cellspacing="15" cellpadding="10">
            <thead>
                <tr>
                    <td style='height:20' colspan='4' align='Center'>
                        <img alt="" src="~/Image/logo_hcmup.png"
                             style="max-width: 100px; max-height: 50px; vertical-align: middle"
                             title="">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style='height:20' colspan='4' align='Center'>
                        TRƯỜNG ĐẠI HỌC SƯ PHẠM <br />
                        THÀNH PHỐ HỒ CHÍ MINH
                    </td>
                    <td width='300px' style='height:30' colspan='6' align='Center'>
                        CỘNG HÒA XÃ HỘI CHŨ NGHĨA VIỆT NAM <BR />
                        Độc lập - Tự do - Hạnh phúc
                    </td>
                </tr>
            </tbody>
        </table>



        <p class="c44 c20"><span class="c27"></span></p>
        <p class="c44 c20"><span class="c27"></span></p>
        <p class="c44 c20"><span class="c27"></span></p>
        <p class="c44"><span class="c27">L&Iacute; L&#7882;CH KHOA H&#7884;C</span></p>
        <p class="c44 c20"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-0 start" start="1">
            <li class="c17 c29"><span class="c24">Th&ocirc;ng tin c&aacute; nh&acirc;n</span></li>
        </ol>
        <p class="c0 c48"><span class="c2"></span></p><a id="t.76b1b64efaec86c67006b338cd1eaf6672b44c07"></a><a id="t.0"></a>
        <div class="table-responsive">
            <table border="1" cellspacing="1" cellpadding="10">
                <tbody>
                    <tr>
                        <td align="left">
                            H&#7885; v&agrave; t&ecirc;n
                        </td>
                        <td align="left">
                            @Model.HoNKH.ToUpper() @Model.TenNKH.ToUpper()
                        </td>
                        <td align="left">
                            Ngày tháng n&#259;m sinh
                        </td>
                        <td align="left">
                            @Model.NgaySinh.Value.ToString("dd-MM-yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Nơi sinh
                        </td>
                        <td align="left">
                            @Model.NoiSinh
                        </td>
                        <td align="left">
                            Gi&#7899;i t&iacute;nh
                        </td>
                        <td align="left">
                            @Model.GioiTinhNKH
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Ch&#7913;c v&#7909; h&agrave;nh ch&iacute;nh
                        </td>
                        <td align="left">
                            @quatrinhcongtac.ChucVuCT
                        </td>
                        <td align="left">
                            S&#7889; CMND, CCCD
                        </td>
                        <td align="left">
                            @Model.SoCMND
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            T&ecirc;n khoa, ph&ograve;ng
                        </td>
                        <td colspan="3">
                            @quatrinhcongtac.TenPhongBan
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Mã số cán bộ
                        </td>
                        <td align="left">
                            @Model.MaNKHHoSo
                        </td>
                        <td align="left">
                            Mã ngạch
                        </td>
                        <td align="left">
                            @Model.NgachVienChuc.TenNgach
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            T&ecirc;n c&#417; quan c&ocirc;ng t&aacute;c
                        </td>
                        <td colspan="3">
                            @quatrinhcongtac.TenCoQuan
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            &#272;&#7883;a ch&#7881; c&#417; quan
                        </td>
                        <td align="left">
                            @quatrinhcongtac.DiaChiQoQuan
                        </td>
                        <td align="left">
                            T&#7881;nh, th&agrave;nh ph&#7889;
                        </td>
                        <td align="left">
                            @quatrinhcongtac.TinhTP
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Học hàm
                        </td>
                        <td align="left">
                            @Model.HocHam.TenHocHam
                        </td>
                        <td align="left">
                            Năm được phong
                        </td>
                        <td align="left"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            Học vị cao nhất
                        </td>
                        <td align="left">
                            @Model.HocVi.TenHocVi
                        </td>
                        <td align="left">
                            Năm bảo vệ
                        </td>
                        <td align="left"></td>
                    </tr>
                    <tr>
                        <td align="left">
                            Chuyên ngành
                        </td>
                        <td colspan="3">
                            @Model.ChuyenNganh.TenChuyenNganh
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            &#272;i&#7879;n tho&#7841;i li&ecirc;n l&#7841;c
                        </td>
                        <td id="phone" colspan="3">
                            @Model.DienThoai
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Email ch&iacute;nh
                        </td>
                        <td colspan="3">
                            @Model.EmailLienHe
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            Email thay thế
                        </td>
                        <td colspan="3">
                            @Model.EmailThayThe
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            Địa chỉ thường trú
                        </td>
                        <td colspan="3"> @Model.DiaChiLienHe</td>
                    </tr>

                    @*<tr>
                            <td align="left">
                                S&#7889; t&agrave;i kho&#7843;n
                            </td>
                            <td colspan="3">
                                @Model.NganHangNKH.STKNH
                            </td>
                        </tr>*@
                    @*<tr>
                            <td align="left">
                                M&#7903; t&#7841;i ng&acirc;n h&agrave;ng
                            </td>
                            <td colspan="3">
                                @Model.NganHangNKH.NganHang.TenNH
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                Chi nh&aacute;nh ng&acirc;n h&agrave;ng
                            </td>
                            <td colspan="3">
                                @Model.NganHangNKH.ChiNhanhNH
                            </td>
                        </tr>*@
                </tbody>
            </table>
        </div>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-0" start="2">
            <li class="c17 c36"><span class="c24">Qu&aacute; tr&igrave;nh &#273;&agrave;o t&#7841;o</span></li>
        </ol>
        <p class="c0"><span class="c2"></span></p><a id="t.d97c1d2bf8c9f37cdc1b6f7833b450aa00b1970d"></a><a id="t.1"></a>
        <div class="table-responsive">
            <table border="1" cellspacing="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>
                            Thời gian
                        </th>
                        <th>
                            Tên cơ sở đào tạo
                        </th>
                        <th>Chuyên ngành</th>
                        <th>Học vị</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.QuaTrinhDaoTaos)
                    {
                        <tr>
                            <td align="center">
                                @count
                            </td>
                            <td align="right">
                                @item.ThoiGianBD.Value.ToString("yyyy")-@item.ThoiGianKT.Value.ToString("yyyy")
                            </td>
                            <td align="left">
                                @item.CoSoDaoTao
                            </td>
                            <td align="left">
                                @item.NganhDaoTao.TenNganhDaoTao
                            </td>
                            <td align="left">
                                @item.HocVi.TenVietTat
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-0" start="3">
            <li class="c17 c36"><span class="c24">Qu&aacute; tr&igrave;nh c&ocirc;ng t&aacute;c</span></li>
        </ol>
        <p class="c0"><span class="c2"></span></p><a id="t.ae703ce2f420ea70449694eab618ac492df3c650"></a><a id="t.2"></a>
        <div class="table-responsive">
            <table border="1" cellspacing="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>
                            Thời gian
                        </th>
                        <th>
                            Tên cơ quan công tác
                        </th>
                        <th>Địa chỉ</th>
                        <th>Chức vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @{ count = 1;}
                    @foreach (var item in Model.QuaTrinhCongTacs)
                    {
                        <tr>
                            <td align="center">
                                @count
                            </td>
                            <td align="right">
                                @item.ThoiGianBD.Value.ToString("yyyy")-@item.ThoiGIanKT.Value.ToString("yyyy")
                            </td>
                            <td align="left">
                                @item.TenCoQuan
                            </td>
                            <td align="left">
                                @item.DiaChiQoQuan
                            </td>
                            <td align="left">
                                @item.ChucVuCT
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-0" start="4">
            <li class="c17 c36">
                <span class="c24">Ngo&#7841;i ng&#7919;</span><span class="c2">
                    &nbsp;(nh&#7853;n x&eacute;t
                    theo c&aacute;c m&#7913;c: A &ndash; y&#7871;u, B &ndash; trung b&igrave;nh, C &ndash; kh&aacute;, D
                    &ndash; th&agrave;nh th&#7841;o)
                </span>
            </li>
        </ol>
        <p class="c0"><span class="c2"></span></p><a id="t.086ccfc796bd5142bc52eece30ec486a6ad3cdab"></a><a id="t.3"></a>
        <div class="table-responsive">
            <table border="1" cellspacing="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>
                            Ngoại ngữ
                        </th>
                        <th>
                            Văn bằng
                        </th>
                        <th>
                            Chứng chỉ
                        </th>
                        

                    </tr>
                </thead>
                <tbody>
                @{ count = 0;}
                <tr>
                    <td align="left">
                        Tiếng Anh
                    </td>
                    <td align="left">
                        @chungChiTiengAnh.VanBang
                    </td>
                    <td align="left">
                        @chungChiTiengAnh.ChungChi
                    </td>
                </tr>
                <tr>
                <td align="left">
                    Ngôn ngữ khác (@tenChungChiKhac)
                </td>
                 
                        <td align="left">
                            @vanBangChungChiKhac
                        </td>
                        <td align="left">
                            @chungChiChungChiKhac
                        </td>
                  
                </tr>
                </tbody>
            </table>
        </div>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-0" start="5">
            <li class="c17 c36">
                <span class="c2">
                    Kinh nghi&#7879;m v&agrave; th&agrave;nh t&iacute;ch nghi&ecirc;n
                    c&#7913;u
                </span>
            </li>
        </ol>
        <ol class="c9 lst-kix_list_1-1 start" start="1">
            <li class="c17 c36">
                <span class="c2">
                    H&#432;&#7899;ng nghi&ecirc;n c&#7913;u ch&iacute;nh theo &#273;u&#7893;i
                    trong 5 n&#259;m g&#7847;n &#273;&acirc;y
                </span>
            </li>
        </ol>
        <p class="c0"><span class="c2"></span></p>
        <p class="c0"><span class="c2">- @Model.NhaKhoaHoc_KH.HuongNghienCuu</span></p>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-1" start="2">
            <li class="c17 c36">
                <span class="c2">
                    K&#7871;t qu&#7843; nghi&ecirc;n c&#7913;u &#273;&atilde;
                    &#273;&#432;&#7907;c c&ocirc;ng b&#7889; ho&#7863;c &#273;&#259;ng k&iacute;
                </span>
            </li>
        </ol>
        <ol class="c9 lst-kix_list_1-2 start" start="1">
            <li class="c17 c38"><span class="c2">&#272;&#7873; t&agrave;i, d&#7921; &aacute;n</span></li>
        </ol>
        <p class="c0 c52"><span class="c2"></span></p><a id="t.381ba009b40aa54bf48a453c481bb5eb7f4d4c19"></a><a id="t.4"></a>
        <div class="table-responsive">
            <table border="1" cellspacing="1" cellpadding="10">

                <thead>
                    <tr>
                        <th>TT</th>
                        <th>
                            Tên đề tài, dự án
                        </th>
                        <th>
                            Cơ quan tài trợ kinh phí
                        </th>
                        <th>Thời gian thực hiện</th>
                        <th>Vai trò</th>
                    </tr>
                </thead>
                <tbody>
                    @{ count = 1;}
                    @foreach (var item in Model.DSNguoiThamGiaDeTais)
                    {
                        <tr>
                            <td align="center">
                                @count
                            </td>
                            <td align="left">
                                @item.DeTai.TenDeTai
                            </td>
                            <td align="left">
                                @item.DeTai.CoQuanTaiTro
                            </td>
                            <td align="right">
                                @item.DeTai.NamBD.Value.Year-@item.DeTai.NamKT.Value.Year
                            </td>
                            <td align="left">
                                @if (item.LaChuNhiem.Value)
                                {
                                    <span class="c2">Chủ Nhiệm</span>
                                }
                                else
                                {
                                    <span class="c2">Đồng Tác Giả</span>
                                }
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
        <p class="c0 c52"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-2" start="2">
            <li class="c17 c38"><span class="c2">C&ocirc;ng b&#7889; khoa h&#7885;c</span></li>
        </ol>
        <p class="c0"><span class="c2"></span></p><a id="t.273eee4e33563e72abd0d9f30b98de4b99f8f4b7"></a><a id="t.5"></a>
        <div class="table-responsive">
            <table border="1" cellspacing="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th style="width: 150px">
                            Tên tác giả
                        </th>
                        <th style="width: 50px">
                            Năm công bố
                        </th>
                        <th style="width: 120px">Tên công trình</th>
                        <th>Tên tạp chí, NXB/ số, tập, trang đăng công trình</th>
                        <th style="width: 50px">ISSN/ ISBN</th>
                        <th style="width: 80px">Upload minh chứng</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>1</th>
                        <th align="left" colspan="6">
                            Bài báo thuộc danh mục WoS (SCI,SCIE,SSCI,A&HCI,ESCI)
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{ count = 1;}
                    @foreach (var item in baibaoWoS)
                    {
                        <tr>
                            <td align="center">
                                1.@count
                            </td>
                            <td align="left" style="width: 150px">
                                @item.NhaKhoaHoc.HoNKH @item.NhaKhoaHoc.TenNKH
                            </td>
                            <td align="right" style="width: 50px">
                                @item.BaiBao.NamDangBao.Value.Year
                            </td>
                            <td align="left" style="width: 120px">
                                @item.BaiBao.TenBaiBao
                            </td>
                            <td align="right">
                                @item.BaiBao.CQXuatBan;@item.BaiBao.TapPhatHanh;@item.BaiBao.SoPhatHanh;@item.BaiBao.TrangBaiBao
                            </td>
                            <td align="right" style="width: 50px">
                                @item.BaiBao.MaISSN
                            </td>
                            <td align="center" style="width: 80px" class="break-word">
                                @item.BaiBao.LinkFileUpLoad
                            </td>
                        </tr>
                        count++;
                    }


                <thead>
                    <tr>
                        <th>2</th>
                        <th align="left" colspan="6">
                            Bài báo thuộc danh mục Scopus
                        </th>

                    </tr>
                </thead>


                @{ count = 1;}
                @foreach (var item in baibaoScopus)
                {
                    <tr>
                        <td align="center">
                            2.@count
                        </td>
                        <td align="left" style="width: 150px">
                            @item.NhaKhoaHoc.HoNKH @item.NhaKhoaHoc.TenNKH
                        </td>
                        <td align="right" style="width: 50px">
                            @item.BaiBao.NamDangBao.Value.Year
                        </td>
                        <td align="left" style="width: 120px">
                            @item.BaiBao.TenBaiBao
                        </td>
                        <td align="center">
                            @item.BaiBao.CQXuatBan;@item.BaiBao.TapPhatHanh;@item.BaiBao.SoPhatHanh;@item.BaiBao.TrangBaiBao
                        </td>
                        <td align="center" style="width: 50px">
                            @item.BaiBao.MaISSN
                        </td>
                        <td align="center" class="break-word" style="width: 80px;">
                            @item.BaiBao.LinkFileUpLoad
                        </td>
                    </tr>
                    count++;
                }


                <thead>
                    <tr>
                        <th>3</th>
                        <th align="left" colspan="6">
                            Bài báo quốc tế khác
                        </th>

                    </tr>
                </thead>
                @{ count = 1;}
                @foreach (var item in baibaoQT)
                {
                    <tr>
                        <td align="center">
                            3.@count
                        </td>
                        <td align="left" style="width: 150px">
                            @item.NhaKhoaHoc.HoNKH @item.NhaKhoaHoc.TenNKH
                        </td>
                        <td align="right" style="width: 50px">
                            @item.BaiBao.NamDangBao.Value.Year
                        </td>
                        <td align="left" style="width: 120px">
                            @item.BaiBao.TenBaiBao
                        </td>
                        <td align="center">
                            @item.BaiBao.CQXuatBan;@item.BaiBao.TapPhatHanh;@item.BaiBao.SoPhatHanh;@item.BaiBao.TrangBaiBao
                        </td>
                        <td align="center" style="width: 50px">
                            @item.BaiBao.MaISSN
                        </td>
                        <td align="center" class="break-word" style="width: 80px">
                            @item.BaiBao.LinkFileUpLoad
                        </td>
                    </tr>
                    count++;
                }

                <thead>
                    <tr>
                        <th>4</th>
                        <th align="left" colspan="6">
                            Bài báo trên các tạp chí khoa học quốc gia
                        </th>

                    </tr>
                </thead>
                @{ count = 1;}
                @foreach (var item in baibaoVN)
                {
                    <tr>
                        <td align="center">
                            4.@count
                        </td>
                        <td align="left" style="width: 150px">
                            @item.NhaKhoaHoc.HoNKH @item.NhaKhoaHoc.TenNKH
                        </td>
                        <td align="right" style="width: 50px">
                            @item.BaiBao.NamDangBao.Value.Year
                        </td>
                        <td align="left" style="width: 120px">
                            @item.BaiBao.TenBaiBao
                        </td>
                        <td align="center">
                            @item.BaiBao.CQXuatBan;@item.BaiBao.TapPhatHanh;@item.BaiBao.SoPhatHanh;@item.BaiBao.TrangBaiBao
                        </td>
                        <td align="center" style="width: 50px">
                            @item.BaiBao.MaISSN
                        </td>
                        <td align="center" class="break-word" style="width: 80px">
                            @item.BaiBao.LinkFileUpLoad
                        </td>
                    </tr>
                    count++;
                }

                <thead>
                    <tr>
                        <th>5</th>
                        <th align="left" colspan="6">
                            Bài báo khoa học khác (tạp chí khoa học trường, ngành; kỉ yếu hội nghị, hội thảo khoa học)
                        </th>

                    </tr>
                </thead>
                @{ count = 1;}
                @foreach (var item in baibaoKhac)
                {
                    <tr>
                        <td align="center">
                            5.@count
                        </td>
                        <td align="left" style="width: 150px">
                            @item.NhaKhoaHoc.HoNKH @item.NhaKhoaHoc.TenNKH
                        </td>
                        <td align="right" style="width: 50px">
                            @item.BaiBao.NamDangBao.Value.Year
                        </td>
                        <td align="left" style="width: 120px">
                            @item.BaiBao.TenBaiBao
                        </td>
                        <td align="center">
                            @item.BaiBao.CQXuatBan;@item.BaiBao.TapPhatHanh;@item.BaiBao.SoPhatHanh;@item.BaiBao.TrangBaiBao
                        </td>
                        <td align="center" style="width: 50px">
                            @item.BaiBao.MaISSN
                        </td>
                        <td align="center" class="break-word" style="width: 80px">
                            @item.BaiBao.LinkFileUpLoad
                        </td>

                    </tr>
                    count++;
                }

                </tbody>
            </table>
        </div>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-2" start="3">
            <li class="c17 c38">
                <span class="c2">
                    S&aacute;ch (minh ch&#7913;ng l&agrave; b&#7843;n scan b&igrave;a 1
                    v&agrave; b&igrave;a 4 ho&#7863;c trang l&oacute;t c&oacute; ghi ISBN c&#7911;a s&aacute;ch)
                </span>
            </li>
        </ol>
        <p class="c0"><span class="c2"></span></p><a id="t.955254dc5ba96fb0380230503ccae7877a3953ef"></a><a id="t.6"></a>
        <div class="table-responsive">
            <table border="1" cellspacing="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>
                            Tên tác giả
                        </th>
                        <th>Năm xuất bản</th>
                        <th>Tên sách</th>
                        <th>NXB, ISBN</th>
                        <th>Ghi chú (giáo trình hay TLTK)</th>
                        <th>Upload minh chứng</th>
                    </tr>
                </thead>

                <tbody>
                    @{ count = 1;}
                    @foreach (var item in Model.DSTacGias)
                    {
                        <tr>
                            <td align="center">
                                @count
                            </td>
                            <td align="left" style="width: 150px">
                                @item.NhaKhoaHoc.HoNKH @item.NhaKhoaHoc.TenNKH
                            </td>
                            <td align="right" style="width: 50px">
                                @item.SachGiaoTrinh.NamXuatBan.Value.Year
                            </td>
                            <td align="left" style="width: 120px">
                                @item.SachGiaoTrinh.TenSach
                            </td>
                            <td align="right">
                                @item.SachGiaoTrinh.MaISBN
                            </td>
                            <td align="left">
                                @item.SachGiaoTrinh.PhanLoaiSach.TenLoai
                            </td>
                            <td align="center" class="break-word" style="width: 80px">
                                @Url.Action("GetAllImage", "SachGiaoTrinhs", new { id = item.MaSach }, protocol: Request.Url.Scheme)
                            </td>
                        </tr>
                        count++;
                    }

                </tbody>
            </table>
        </div>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-2" start="4">
            <li class="c17 c38">
                <span class="c2">
                    Ph&aacute;t minh, s&aacute;ng ch&#7871;, gi&#7843;i ph&aacute;p k&#7929;
                    thu&#7853;t (minh ch&#7913;ng l&agrave; b&#7843;n scan gi&#7845;y ch&#7913;ng nh&#7853;n)
                </span>
            </li>
        </ol>
        <p class="c0"><span class="c2"></span></p>
        <a id="t.56c4a923174b06c8d79eae3d92450fa2b755b3f7"></a><a id="t.7"></a>

        <div class="table-responsive">
            <table border="1" cellspacing="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>TT</th>
                        <th>
                            Tên tác giả
                        </th>
                        <th>
                            Năm công bố
                        </th>
                        <th>Tên phát minh, sáng chế, giải pháp</th>
                        <th>Quốc gia cấp</th>
                        <th>Số phát minh, sáng chế, giải pháp</th>
                        <th>Upload minh chứng</th>

                    </tr>
                </thead>
                <tbody>
                    @{ count = 1;}
                    @foreach (var item in Model.DSPhatMinhNKHs)
                    {
                        <tr>
                            <td align="center">
                                @count
                            </td>
                            <td align="left" style="width: 150px">
                                @item.NhaKhoaHoc.HoNKH @item.NhaKhoaHoc.TenNKH
                            </td>
                            <td align="right" style="width: 50px">
                                @item.PhatMinhGiaiPhap.NamCongBo.Value.Year
                            </td>
                            <td align="left" style="width: 120px">
                                @item.PhatMinhGiaiPhap.TenPM
                            </td>
                            <td align="left">
                                @item.PhatMinhGiaiPhap.QuocGiaCap
                            </td>
                            <td align="right">
                                @item.PhatMinhGiaiPhap.SoHieuPM
                            </td>
                            <td align="center" class="break-word" style="width: 80px">
                                @Url.Action("GetAllImage", "PhatMinhGiaiPhaps", new { id = item.MaPM }, protocol: Request.Url.Scheme)
                            </td>
                        </tr>
                        count++;
                    }



                </tbody>
            </table>
        </div>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-2" start="5">
            <li class="c17 c38">
                <span class="c2">Gi&#7843;i th&#432;&#7903;ng khoa h&#7885;c c&ocirc;ng ngh&#7879;</span>
            </li>
        </ol>
        <p class="c0"><span class="c2">- @Model.NhaKhoaHoc_KH.GiaiThuong</span></p>
        <p class="c0"><span class="c2"></span></p>
        <ol class="c9 lst-kix_list_1-0" start="6">
            <li class="c17 c36">
                <span class="c24">
                    Tham gia c&aacute;c t&#7893; ch&#7913;c khoa h&#7885;c c&ocirc;ng
                    ngh&#7879;
                </span>
            </li>
        </ol>
        <p class="c0"><span class="c2"></span></p>
        <p class="c0"><span class="c2">@Model.NhaKhoaHoc_KH.ThamGiaToChu</span></p>
        <p class="c0"><span class="c2"></span></p>

        <table>
            <tr>
                <th align="left">Xác nhận của cơ quan công tác</th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th style="
    width: 70px;
"></th>
                <th>
                    TP. Hồ
                    Chí Minh, ngày &nbsp; tháng &nbsp; &nbsp;năm …. &nbsp;
                </th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="5" align="center">Người khai</th>

            </tr>

        </table>

    </div>
</body>

<a href="javascript:void(0)" class="btn btn-danger word-export">Xuất File World</a>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/FileSaver.js"></script>
<script src="~/Scripts/jquery.wordexport.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>

    jQuery(document).ready(function ($) {
        $("a.word-export").click(function (event) {
            var data = $("#phone").text();
            $("#phone").text("");
            $("#source-html").wordExport();
            $("#phone").text(data);
        });
    });

</script>
