@model WebQLKhoaHoc.HocHam

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center">Học hàm nhà khoa học</h1>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaHocHam)
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>Tên viết tắt</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.TenVietTat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenVietTat)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-1">
                <h2>Tên học hàm</h2>
            </div>
            <div class="col-md-7">
                @Html.TextBoxFor(model => model.TenHocHam, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TenHocHam)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-default pull-right" })
                <input type="submit" value="Lưu" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}